@font-face {
  src: url("../assets/fonts/Montserrat-Regular.woff2");
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
}
@font-face {
  src: url("../assets/fonts/Montserrat-Medium.woff2");
  font-family: "Montserrat";
  font-weight: 500;
  font-style: normal;
}

@font-face {
  src: url("../assets/fonts/Montserrat-SemiBold.woff2");
  font-family: "Montserrat";
  font-weight: 600;
  font-style: normal;
}

@font-face {
  src: url("../assets/fonts/Montserrat-Bold.woff2");
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
}
