* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif, serif;
  color: $black;
}

#root,
body,
html,
main {
  height: 100%;
}

.App {
  height: 100vh;
}

.container {
  width: 1300px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.5s;
}

ul {
  list-style: none;
}

button {
  border: none;
  background: none;
  outline: none;
  transition: 0.5s;
  cursor: pointer;
}

input {
  border: none;
  outline: none;
}
